<p-menubar>
  <ng-template #start>
    <h1 class="text-4xl font-bold mx-3">Easy Task</h1>
    <p-button size="small" (click)="toggleDarkMode()">
      <span class="material-symbols-outlined"> menu </span>
    </p-button>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <input type="text" pInputText placeholder="Search" class="w-36" />
      <p-avatar
        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
        shape="circle"
      />
    </div>
  </ng-template>
</p-menubar>
